.petlist_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 2em;
}

.petlist_header h1 {
    margin: 0;
}

.petlist_header a {
    text-decoration: none;
    background-color: #5e0404;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    padding: .5em .8em;
    border-radius: 5px;
    border: 2px solid #5e0404;
}

.petlist_header a:hover {
    background-color: transparent;
    color: #5e0404;
}

.petlist_container {
    display: flex;
    flex-direction: column;
}

.petlist_row {
    border-bottom: 1px solid #5e0404;
    padding: 1em;
    margin: 1em;
    display: flex;
    align-items: center;
    width: 100%;
}

.petlist_row img{
    margin-right: 1em;

}

.petlist_row span{
    min-width: 100px;
}

.actions {
    margin-left: auto;
}

.actions a, 
.actions button {
    text-decoration: none;
    background-color: #fff;
    color: #5e0404;
    font-weight: bold;
    cursor: pointer;
    transition: .5s;
    padding: 7px 12px;
    border-radius: 5px;
    border: 2px solid #5e0404;
    font-size: 12px;
    margin-left: 1em;
}

.actions a:hover,
.actions button:hover {
    background-color: #5e0404;
    color: #fff;
}

.actions .conclude_btn{
    color: #25b456;
    border-color: #25b456
}

.actions .conclude_btn:hover{
    color: #fff;
    border-color: #25b456
}